body{
    display: flex;
    flex-wrap:wrap
}

header ul {
    display: flex;
}

main{
    flex-basis: 69%;
    display: flex;
    flex-wrap: wrap;
}

main img {
    height :50%;
    width: 60%;
    flex-basis: 45%;
    background-color: black;

}

h1 {
    border-style: solid;
    margin:0em;
    flex-grow: 1;
}

.Personnage{
    background-color: gray;
}
header li {
    border-style:solid;
    list-style-type: None;
}

aside section li {
    border-style:solid;
    list-style-type: None;
    background-color: white;
    

}
aside{
    border-style:solid;
    flex-basis:  29%;

}

footer {
    border-style:solid;
    flex-grow: 1;
}
body {
    background: linear-gradient(rgb(71, 95, 161), rgb(150, 109, 144)); 
}
aside, footer, header{
    background: linear-gradient(rgb(93, 53, 104), rgb(165, 100, 173)); 
}
img {
    border-style:solid;
    border-color: rgb(40, 79, 161);
    border-radius: 10%

}
header {
    flex-grow: 1;
    flex-basis:100%

}
nav ul li{
    flex-grow: 1;
    text-align: center;
    border-radius: 10%
    
}
nav ul {
    padding-left: 0%;
    

}

aside ul{
    padding-left:0em
}

aside {
    background:url(img/Pilliers.webp);
    background-size: cover;
    height:850px;
}

aside section p {
    background-color: white;
    border-style:solid;
    border-radius: 10%; 

    
}
main section {
    flex-basis:100%;
    flex-grow:1
}




