body{
    display: flex;
    flex-wrap:wrap
}

header ul {
    display: flex;
}

main section {
    display: flex;
    flex-wrap:wrap

}
main img {
    width: 20em;
    height: 20em;
}

h1 {
    border-style: solid;
    margin:0em;
    flex-grow: 1;
}

.Personnage{
    background-color: gray;
}
header li {
    border-style:solid;
    list-style-type: None;
}

aside section li {
    border-style:solid;
    list-style-type: None;
    background-color: white;
    

}
aside{
    border-style:solid;
    flex-basis:  29%;

}

footer {
    border-style:solid;
    flex-grow: 1;
}
body {
    background: linear-gradient(rgb(71, 95, 161), rgb(150, 109, 144)); 
}
aside, footer, header{
    background: linear-gradient(rgb(93, 53, 104), rgb(165, 100, 173)); 
}
img {
    border-style:solid;
    border-color: rgb(40, 79, 161);
    border-radius: 10%

}
header {
    flex-grow: 1;
    flex-basis:100%

}
nav ul li{
    flex-grow: 1;
    text-align: center;
    border-radius: 10%
    
}
nav ul {
    padding-left: 0%;
    

}
main {
    flex-basis:70%;

}
main section h2 {
    flex-basis: 100% ;
}

main section section {
    flex-basis: 45%;
}

aside ul{
    padding-left:0em
}

main section h2 {
    font-family: Bradley Hand, cursive;
}

.tanjiro{
    color:rgb(100, 140, 194)
}

.nezuko{
    color:rgb(133, 29, 119)
}

.zenitsu{
    color:rgb(212, 194, 30);
}

.inosuke{
    color:rgb(44, 23, 23);
}

aside {
    background:url(img/Pilliers.webp);
    background-size: cover;
    height:850px;
}

aside section p {
    background-color: white;
    border-style:solid;
    border-radius: 10%; 
;
    
}

.section1 {
    border-style:solid;
    border-radius: 10%
}

.section1 img {
    height: 25em
}

.accueil {
    background-size: cover;
}